body{
  margin: 0;
}
#wrapper {
margin: auto;
margin-top: 0;
min-height: 600px;
width: 1000px;
border: grey solid 1px;

}

h1 {
  color: red;
}

#up-head {
  height: 5px;
  background: #094B06;
  margin: 0;
}

.img-logo {
  float: left;
  margin-top: 15px;
  /*border: 1px solid grey;*/
}
.lozung {
  float: left;
  margin-top: 10px;
  margin-left: 120px;
  /*border: 1px solid grey;*/
}
.class-search {
float: right;
margin-top: 20px;
margin-right: 10px;
}



#header {
height: 100px;
border: black solid 1px;
}

/*MENU START*/

#horizontal-menu>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #094B06;
    padding-left: 15px;
}

#horizontal-menu li {
    float: left;
}

#horizontal-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*border-right: 1px solid grey;*/
  /*border-right-style: solid; */
}

#left-menu {
  margin-top: 30px;
  width: 150px;
  float: left;
}

#left-menu>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #094B06;
  padding-left: 15px;
  /*width: 150px;*/
}

#left-menu li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    width: 150px;
    /*border-right: 1px solid grey;*/
  /*border-right-style: solid; */
}
#left-menu li {
  width: 150px;
    /*float: left;*/
}

li a:hover {
    background-color: #13800F;

}




/*MENU END*/
